* {
  margin: 0;
  padding: 0;
  border: 0;
}

.main-div {
  width: 100vw;
  height: 100vh;
  background-color: rgb(22, 24, 21);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-bar {
  width: 40vw;
  height: 8vh;
  font-size: 3vh;
  overflow-x: hidden;
  background-color: rgb(86, 141, 167);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.button-section {
  height: 50vh;
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
}

.btn {
  color: #1e9bff;
  height: 12.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 30px;
  font-size: 1.5rem;
  color: var(#1e9bff);
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  text-shadow: 0 0 15px var(#1e9bff);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: 0.5s;
  z-index: 1;
}

.btn:hover {
  color: #6eff3e;
  border: 2px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 0px var(#1e9bff);
}

.btn::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(#1e9bff);
  z-index: -1;
  transform: scale(0);
  transition: 0.5s;
}

.btn:hover::before {
  transform: scale(1);
  transition-delay: 0.5s;
  box-shadow: 0 0 10px var(#1e9bff), 0 0 30px var(#1e9bff),
    0 0 60px var(#1e9bff);
}

.btn span {
  position: absolute;
  background: var(#1e9bff);
  pointer-events: none;
  border-radius: 2px;
  box-shadow: 0 0 10px var(#1e9bff), 0 0 20px var(#1e9bff),
    0 0 30px var(#1e9bff), 0 0 50px var(#1e9bff), 0 0 100px var(#1e9bff);
  transition: 0.5s ease-in-out;
  transition-delay: 0s;
}

.btn:hover span {
  opacity: 0;
  transition-delay: 0s;
}
